html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: arial,sans-serif;
}

header {
  display: flex;
  padding: 0 15px;
}

header nav {
  margin-left: auto;
}

header nav ul li a {
  font-size: 13px;
  color: rgba(0,0,0,0.87)
}

ul {
  list-style-type: none
}

ul li {
  display: inline-block;
}

ul li:not(:last-child) {
  margin-right: 20px;
}

.Content_search_icons {
  margin-left: auto;
  margin-right: 20px;
}

.Content_search_icons .fas {
  cursor: pointer;
}

.Content_buttons button {
  background-color: #F3F3F3;
  margin-right: 25px;
  padding: 5px 16px;
  margin: 11px 4px;
  border: 2px solid #F3F3F3;
  cursor: pointer;
  border-radius: 1px;
  color: #6F6F6F;
  font-size: 16px;
  line-height: 35px;
}

.Content_buttons p {
  font-size: small;
}

.Content_buttons a {
  text-decoration: none;
}

.Content_buttons a:hover {
  text-decoration: underline;
}

.Content_buttons button:hover {
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 2px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}

ul li a {
  text-decoration: none;
}

ul li a:hover, a:focus {
  text-decoration: underline;
}

.ContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Content section {
  text-align: center;
  margin-top: 20px;
}

.Content section button{
  display: inline-block;
}

.footer {
  display: grid;
  grid-template-rows: auto auto;
  padding: 0 27px;
  text-decoration: none;
  font-size: 13px;
  color: #6F6F6F;
  background-color: #F2F2F2;
  border-top: solid 1px #E4E4E4;
  line-height: 35px;
}

.footer a {
  color: #6F6F6F;
}

.footer ul {
  padding: 0;
  margin: 5px 0;
}

.footer h3 {
  margin: 5px 0;
}

.links {
  display: flex;
  border-top: solid 1px #E4E4E4;
}

.links nav:last-child {
  margin-left: auto;
}

.Content_animalLIST {
  margin-top: 0 !important;
  border: 2px solid #DFE1E5;
  border-radius: 18px;
}

.Content_animalLIST {
  text-align: left !important;
}

.LoginAnchor {
  background: #4d79ff;
  padding: 4px 15px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.IconAnchor {
  font-size: 16px;
}

.Content_search {
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 11px 0;
  width: 590px;
  height: 30px;
  border: 2px solid #DFE1E5;
}

.Content_search:hover {
  box-shadow: 0 0 5px rgba(33,33,33, .2);
}

.Content_search input {
  border: 0;
  font-size: 16px;
  outline: none;
  height: 100%;
  width: 80%;
  margin-left: 30px;
}

.Content_search .fa-microphone {
  color: #1C6CC7;
  margin-right: 10px;
}


.Content_autocomplete, .Content_animalLIST{
  display: block;
  width: 100%;
}

.Content_animalLIST ul {
  padding-left: 15px;
}

.Content_animalLIST ul li {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

.Content_animalLIST ul li:hover {
  background: #eee;
}
